<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ejunhai.qutihuo.statistical.dao.MeasurementMapper" >
    <resultMap id="MeasurementMapper" type="com.ejunhai.qutihuo.statistical.model.Measurement" >
        <id column="ID" property="id" jdbcType="VARCHAR" />
        <result column="MS_SHGY" property="ms_shgy" jdbcType="INTEGER" />
        <result column="MS_SQJLBZ" property="ms_sqjlbz" jdbcType="INTEGER" />
        <result column="MS_ZXJDGZJLBZ" property="ms_zxjdgzjlbz" jdbcType="INTEGER" />
        <result column="MS_ZGJLBZ" property="ms_zgjlbz" jdbcType="INTEGER" />
        <result column="JLSQ_YFSZJLJDJSJG" property="jlsq_yfszjljdjsjg" jdbcType="INTEGER" />
        <result column="JLSQ_YFSQJLJLJDJG" property="jlsq_yfsqjljdjg" jdbcType="INTEGER" />
        <result column="JLSQ_QTCDZXSQJDRWJG" property="jlsq_qtcdzxsqjdrwjg" jdbcType="INTEGER" />
        <result column="JLSQ_QTCDZXSQJDRWXM" property="jlsq_qtcdzxsqjdrwxm" jdbcType="INTEGER" />
        <result column="JLSQ_SQCDJLQJXSPJJG" property="jlsq_sqcdjlqjxspjjg" jdbcType="INTEGER" />
        <result column="JLSQ_SQCDJLQJXSPJXM" property="jlsq_sqcdjlqjxspjxm" jdbcType="INTEGER" />
        <result column="JLQJXCP_XSPZZS_year" property="jlqjxcp_xspzzs_year" jdbcType="INTEGER" />
        <result column="JLQJXCP_XSPZZS_all" property="jlqjxcp_xspzzs_all" jdbcType="INTEGER" />
        <result column="ZZXLJLQJ_ZZXKZ_ADD" property="zzxljlqj_zzxkz_add" jdbcType="INTEGER" />
        <result column="ZZXLJLQJ_ZZXKZ_REDUCE" property="zzxljlqj_zzxkz_reduce" jdbcType="INTEGER" />
        <result column="ZZXLJLQJ_ZZXKZ_all" property="zzxljlqj_zzxkz_all" jdbcType="INTEGER" />
        <result column="ZZXLJLQJ_XLXKZ_ADD" property="zzxljlqj_xlxkz_add" jdbcType="INTEGER" />
        <result column="ZZXLJLQJ_XLXKZ_REDUCE" property="zzxljlqj_xlxkz_reduce" jdbcType="INTEGER" />
        <result column="ZZXLJLQJ_XLXKZ_all" property="zzxljlqj_xlxkz_all" jdbcType="INTEGER" />
        <result column="JDJC_FZXJCQJ" property="jdjc_fzxjcqj" jdbcType="INTEGER" />
        <result column="JDJC_FZXHGQJ" property="jdjc_fzxhgqj" jdbcType="INTEGER" />
        <result column="JDJC_XNJCCC" property="jdjc_xnjccc" jdbcType="INTEGER" />
        <result column="JDJC_XNJCHG" property="jdjc_xnjchg" jdbcType="INTEGER" />
        <result column="QZJD_YQJ" property="qzjd_yqj" jdbcType="INTEGER" />
        <result column="QZJD_YQJXB" property="qzjd_yqjxb" jdbcType="INTEGER" />
        <result column="QZJD_YQJZB" property="qzjd_yqjzb" jdbcType="INTEGER" />
        <result column="QZJD_JDSMYJS" property="qzjd_jdsmyjs" jdbcType="INTEGER" />
        <result column="QZJD_JDSAQFH" property="qzjd_jdsaqfh" jdbcType="INTEGER" />
        <result column="QZJD_JDSYLWS" property="qzjd_jdsylws" jdbcType="INTEGER" />
        <result column="QZJD_JDSHJJC" property="qzjd_jdshjjc" jdbcType="INTEGER" />
        <result column="JLJDY_SZJDJG" property="jljdy_szjdjg" jdbcType="INTEGER" />
        <result column="JLJDY_SQJDJG" property="jljdy_sqjdjg" jdbcType="INTEGER" />
        <result column="JLJDY_SQQTDW" property="jljdy_sqqtdw" jdbcType="INTEGER" />
        <result column="JLJDY_QSYDW" property="jljdy_qsydw" jdbcType="INTEGER" />
        <result column="CCDLBZ_CCPC" property="ccdlbz_ccpc" jdbcType="INTEGER" />
        <result column="CCDLBZ_HGPC" property="ccdlbz_hgpc" jdbcType="INTEGER" />
        <result column="SHGZJLZ_XJ" property="shgzjlz_xj" jdbcType="INTEGER" />
        <result column="SHGZJLZ_LJ" property="shgzjlz_lj" jdbcType="INTEGER" />
        <result column="SHGZJLZ_CZL_year" property="shgzjlz_czl_year" jdbcType="INTEGER" />
        <result column="SHGZJLZ_CZL_all" property="shgzjlz_czl_all" jdbcType="INTEGER" />
        <result column="SHGZJLZ_QT_year" property="shgzjlz_qt_year" jdbcType="INTEGER" />
        <result column="SHGZJLZ_QT_all" property="shgzjlz_qt_all" jdbcType="INTEGER" />
        <result column="DLBZSPSCQY_CBZQY_year" property="dlbzspscqy_cbzqy_year" jdbcType="INTEGER" />
        <result column="DLBZSPSCQY_CBZQY_all" property="dlbzspscqy_cbzqy_all" jdbcType="INTEGER" />
        <result column="DLBZSPSCQY_CBZCP_year" property="dlbzspscqy_cbzcp_year" jdbcType="INTEGER" />
        <result column="DLBZSPSCQY_CBZCP_all" property="dlbzspscqy_cbzcp_all" jdbcType="INTEGER" />
        <result column="YEAR" property="year" jdbcType="INTEGER" />
        <result column="PROVINCE" property="province" jdbcType="VARCHAR" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        ID,
        MS_SHGY,
        MS_SQJLBZ,
        MS_ZXJDGZJLBZ,
        MS_ZGJLBZ,
        JLSQ_YFSZJLJDJSJG,
        JLSQ_YFSQJLJLJDJG,
        JLSQ_QTCDZXSQJDRWJG,
        JLSQ_QTCDZXSQJDRWXM,
        JLSQ_SQCDJLQJXSPJJG,
        JLSQ_SQCDJLQJXSPJXM,
        JLQJXCP_XSPZZS_year,
        JLQJXCP_XSPZZS_all,
        ZZXLJLQJ_ZZXKZ_ADD,
        ZZXLJLQJ_ZZXKZ_REDUCE,
        ZZXLJLQJ_ZZXKZ_all,
        ZZXLJLQJ_XLXKZ_ADD,
        ZZXLJLQJ_XLXKZ_REDUCE,
        ZZXLJLQJ_XLXKZ_all,
        JDJC_FZXJCQJ,
        JDJC_FZXHGQJ,
        JDJC_XNJCCC,
        JDJC_XNJCHG,
        QZJD_YQJ,
        QZJD_YQJXB,
        QZJD_YQJZB,
        QZJD_JDSMYJS,
        QZJD_JDSAQFH,
        QZJD_JDSYLWS,
        QZJD_JDSHJJC,
        JLJDY_SZJDJG,
        JLJDY_SQJDJG,
        JLJDY_SQQTDW,
        JLJDY_QSYDW,
        CCDLBZ_CCPC,
        CCDLBZ_HGPC,
        SHGZJLZ_XJ,
        SHGZJLZ_LJ,
        SHGZJLZ_CZL_year,
        SHGZJLZ_CZL_all,
        SHGZJLZ_QT_year,
        SHGZJLZ_QT_all,
        DLBZSPSCQY_CBZQY_year,
        DLBZSPSCQY_CBZQY_all,
        DLBZSPSCQY_CBZCP_year,
        DLBZSPSCQY_CBZCP_all,
        YEAR,
        PROVINCE
    </sql>

    <select id="readProvinceMeasurements" resultMap="MeasurementMapper" resultType="com.ejunhai.qutihuo.statistical.model.Measurement">
        SELECT <include refid="Base_Column_List" />
        FROM measurelegalmanagement
        WHERE PROVINCE LIKE '%省'
            or PROVINCE LIKE '%市'
            or PROVINCE LIKE '%自治区'
    </select>

    <select id="getDistinctYear" resultType="Integer">
        SELECT
        DISTINCT YEAR
        FROM measurelegalmanagement
        ORDER BY YEAR DESC
    </select>

    <select id="getDistinctProvince" resultType="String">
        SELECT
        DISTINCT PROVINCE
        FROM measurelegalmanagement
        WHERE province NOT IN ('全国总计','地方单位合计', '  地方单位合计')
        ORDER BY PROVINCE ASC
    </select>

    <select id="findByParams" resultMap="MeasurementMapper" resultType="com.ejunhai.qutihuo.statistical.model.Measurement">
        SELECT
        <include refid="Base_Column_List" />
        FROM measurelegalmanagement
        <where>
            <if test="province != null and province !=''"> and province=#{province} </if>
            <if test="year != null and year !=''"> and year = #{year} </if>
        </where>
    </select>
</mapper>